@using Application.Features.Student.Models
@model StudentDTO
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">

<div>
@if (Model.NameA != null)
{
						<div class="col-sm-2 col-4 my-2">اسم</div>
		<div class="col-sm-4 col-8 my-2">@Model.NameA</div>
}
	@if (Model.NameE != null)
	{
							<div class="col-sm-2 col-4 my-2">Name</div>
							<div class="col-sm-4 col-8 my-2">@Model.NameE</div>
	}
	@if (Model.Focus != null)
{
						<div class="col-sm-2 col-4 my-2">focus</div>
						<div class="col-sm-4 col-8 my-2">@Model.Focus</div>
}
@if (Model.Active != null)
{
						<div class="col-sm-2 col-4 my-2">Active</div>
						<div class="col-sm-4 col-8 my-2">@Model.Active</div>
}
@if (Model.SortIndex != null)
{
		<div class="col-sm-2 col-4 my-2">SortIndex</div>
		<div class="col-sm-4 col-8 my-2">@Model.SortIndex</div>
}

	<div class="row">
		@if (Model.PhotoName != null)
		{
			<div class="col-sm-2 col-4 my-2">صورة الطالب</div>
			<div class="col-sm-4 col-8 my-2">
				<a href="javascript:var x=window.open('/Photos/Student/PhotoA/@Model.Id/@Model.PhotoName',target = '_blank', width = '100%', height = '100%');">
					<img src="~/Photos/Student/Photo/@Model.Id/@Model.PhotoName" style="height:100% ;width: 30%;" />
				</a>
			</div>
		}

</div>
<select name="things">
	<option value="1">Thing One</option>
	<option value="2">Thing Two</option>
	<option value="3">Thing Three</option>
	<option value=""><button>New Thing</button></option>
</select>



<script>

	$('select[name=things]').change(function () {
		if ($(this).val() == '') {
			var newThing = prompt('Enter a name for the new thing:');
			var newValue = $('option', this).length;
			$('<option>')
				.text(newThing)
				.attr('value', newValue)
				.insertBefore($('option[value=]', this));
			$(this).val(newValue);
		}
	});

</script>