@using Application.Features.Student.Models
@model StudentDTO
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">


<>
		<input type="hidden" asp-for="PhotoName" />
	<input type="hidden" asp-for="photoFile" />


@if (Model.NameA != null)
{
						<div class="col-sm-2 col-4 my-2">اسم</div>
		<div class="col-sm-4 col-8 my-2">@Model.NameA</div>
}
	@if (Model.NameE != null)
	{
							<div class="col-sm-2 col-4 my-2">Name</div>
							<div class="col-sm-4 col-8 my-2">@Model.NameE</div>
	}
	@if (Model.Focus != null)
{
						<div class="col-sm-2 col-4 my-2">focus</div>
						<div class="col-sm-4 col-8 my-2">@Model.Focus</div>
}
@if (Model.Active != null)
{
						<div class="col-sm-2 col-4 my-2">Active</div>
						<div class="col-sm-4 col-8 my-2">@Model.Active</div>
}
@if (Model.SortIndex != null)
{
		<div class="col-sm-2 col-4 my-2">SortIndex</div>
		<div class="col-sm-4 col-8 my-2">@Model.SortIndex</div>
}

	<div class="row">
		@if (Model.PhotoName != null)
		{
			<div class="col-sm-2 col-4 my-2">صورة الطالب</div>
			<div class="col-sm-4 col-8 my-2">
				<a href="javascript:var x=window.open('/Photos/Student/PhotoA/@Model.Id/@Model.PhotoName',target = '_blank', width = '100%', height = '100%');">
					<img src="~/Photos/Student/Photo/@Model.Id/@Model.PhotoName" style="height:100% ;width: 30%;" />
				</a>
			</div>
		}

</div>
<form asp-action="addCourse" method="post"  enctype="multipart/form-data">
<div id="selectContainer">
  <select id="statement" name="statement">
    <option value="1">Maths</option>
    <option value="2">Science</option>
    <option value="3">Arabic</option>
    <option value="4">English</option>



  </select>
</div>
	@*<a href="@Url.ActionLink("AddCourse", "student",)" aria-expanded="false" class=" btn btn-primary bg-primary-700 text-white btn-icon rounded-circle mx-1 waves-effect waves-themed" style="font-size:large"><i class="fa fa-edit " data-toggle="tooltip" data-placement="top">اضافه</i></a>*@


	</form>

<button onclick="cloneSelect()">Add another Course</button>


<script>

		var selectionCounter = 0
		function cloneSelect() {
			var select = document.getElementById("statement")
			var clone = select.cloneNode(true)
			var name = select.getAttribute("name") + selectionCounter++
			clone.id = name
			clone.setAttribute("name", name)
			document.getElementById("selectContainer").appendChild(clone)
		}
	

</script>