@using Application.Features.Student.Models
@model StudentDTO
@{
    Layout = "_Layout";
    var TableName = "Student";
   
    if (Model.Id > 0)
    {
    ViewData["Title"] = "Edit " +TableName + ":" + @Model.NameA;
        <h1>@ViewData["Title"]</h1>
    } 
    
   
  else
  {
        ViewData["Title"] = "Add " + TableName;
        <h1>@ViewData["Title"]</h1>

  }
}

   

<form asp-action="Form" method="post"  enctype="multipart/form-data">
   
      

          
    <input type="hidden" asp-for="Id" />
    <div class="form-group col-md-6">
        الاسم
        <input asp-for="NameA"/>
        <span asp-validation-for="NameA"></span>
    </div>

       <div class="form-group col-md-6">
        Name
        <input asp-for="NameE"/>
        <span asp-validation-for="NameE"></span>
    </div>

    <div class="form-group col-md-6">
        City
        <input asp-for="CityId" />
        <span asp-validation-for="CityId"></span>
    </div>

    <div class="form-group col-md-6">
        Country
        <input asp-for="CountryId" />
        <span asp-validation-for="CountryId"></span>
    </div>

    <div class="form-group col-md-6">
        Photo
        <input type="file" asp-for="PhotoName" />
        <span asp-validation-for="PhotoName"></span>
    </div>

    <input type="submit" class="btn btn-primary btn-main-bg m-1" placeholder="حفظ"/>

    <a href="@Url.ActionLink("index")" aria-expanded="false" class=" btn btn-primary bg-primary-700 text-white btn-icon rounded-circle mx-1 waves-effect waves-themed" style="font-size:large"><i class="fa fa-edit " data-toggle="tooltip" data-placement="top">الرجوع</i></a>

	
</form>

<div>
    <select asp-for="CountryId"

            asp-items="@ViewBag.Countries">
        <option>اختر</option>
    </select>
     

</div>