@model Application.Features.Country.Models.CountryDTO
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">

<div class="p-4" style="background: #fff; border-radius: 4px; vertical-align: middle;">
  <div id='DivIdToPrint' class=" pt-5 ">
    <h1>@Model.TitleA</h1>
    <div class="frame-wrap" style="font-size: 1rem">
      <div class="row">
        @if (Model.TitleA != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["TitleA"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.TitleA</div>
        }
        @if (Model.TitleE != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["TitleE"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.TitleE</div>
        }
      </div>
      <div class="row">
        @if (Model.PhotoA != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["PhotoA"]</div>
          <div class="col-sm-4 col-8 my-2">
            <a href="javascript:var x=window.open('/Upload/Event/PhotoA/@Model.Id/@Model.PhotoA',target = '_blank', width = '100%', height = '100%');">
              <img src="~/Upload/Event/PhotoA/@Model.Id/@Model.PhotoA" style="height:100% ;width: 30%;" />
            </a>
          </div>
        }
        @if (Model.PhotoE != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["PhotoE"]</div>
          <div class="col-sm-4 col-8 my-2">
            <a href="javascript:var x=window.open('/Upload/Event/PhotoE/@Model.Id/@Model.PhotoE',target = '_blank', width = '100%', height = '100%');">
              <img src="~/Upload/Event/PhotoE/@Model.Id/@Model.PhotoE" style="height:100% ;width: 30%;" />
            </a>
          </div>
        }
      </div>
      <div class="row">
        @if (Model.EventCategoryName != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["EventCategory"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.EventCategoryName</div>
        }
        @if (!string.IsNullOrEmpty(Model.UrlA) @*Model.UrlA != null*@)
        {        

          <div class="col-sm-2 col-4 my-2">@Localizer["UrlA"]</div>
          <div class="col-sm-4 col-8 my-2"><a  href="http://@Model.UrlA"  target="_blank">@Model.UrlA</a></div>
        }
        @if (Model.UrlE != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["UrlE"]</div>
          <div class="col-sm-4 col-8 my-2"><a  href="http://@Model.UrlE" target="_blank">@Model.UrlE</a></div>
        }
      </div>
      <div class="row">
        @if (Model.Longitude != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["Longitude"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.Longitude</div>
        }
        @if (Model.Latitude != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["Latitude"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.Latitude</div>
        }
      </div>
      <div class="row">
        @if (Model.ContentA != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["ContentA"]</div>
          <div class="col-sm-4 col-8 my-2">
            @Html.Raw(Model.ContentA)
          </div>
        }
      </div>
      <div class="row">
        @if (Model.ContentE != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["ContentE"]</div>
          <div class="col-sm-4 col-8 my-2">
            @Html.Raw(Model.ContentE)
          </div>
        }
      </div>
      <div class="row">
        @if (Model.AddressA != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["EventAddressA"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.AddressA</div>
        }
        @if (Model.AddressE != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["EventAddressE"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.AddressE</div>
        }
      </div>
      <div class="row">
        @if (Model.StartDate != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["StartDate"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.StartDate.ToString("yyyy/MM/dd")</div>
        }
        @if (Model.EndDate != null)
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["EndDate"]</div>
          <div class="col-sm-4 col-8 my-2">@Model.EndDate.ToString("yyyy/MM/dd")</div>
        }
      </div>
      <div class="row">
        @if (!string.IsNullOrEmpty(Model.AttachmentA))
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["AttachmentA"]</div>
          <div class="col-sm-4 col-8 my-2">
            <a asp-area="General" asp-controller="DownloadFile" asp-action="Download" asp-route-Objectname="Event" asp-route-Property="AttachmentA" asp-route-ObjectID="@Model.Id" asp-route-filename="@Model.AttachmentA"
             class="d-flex flex-row align-items-center">
              <i class="fas fa-file fa-display-3 flex-shrink-0"></i>
              @Model.AttachmentA
            </a>
          </div>
        }
        @if (!string.IsNullOrEmpty(Model.AttachmentE))
        {
          <div class="col-sm-2 col-4 my-2">@Localizer["AttachmentE"]</div>
          <div class="col-sm-4 col-8 my-2">
            <a asp-area="General" asp-controller="DownloadFile" asp-action="Download" asp-route-Objectname="Event" asp-route-Property="AttachmentE" asp-route-ObjectID="@Model.Id" asp-route-filename="@Model.AttachmentE"
             class="d-flex flex-row align-items-center">
              <i class="fas fa-file fa-display-3 flex-shrink-0"></i>
              @Model.AttachmentE
            </a>
          </div>
        }
      </div>
    </div>
  </div>
</div>


