@using Application.Features.Country.Models
@model CountryDTO
@{
    Layout = "_Layout";
    var TableName = "Country";
    if (Model.Id != 0)
  {
    ViewData["Title"] = "Edit " +TableName + ":" + @Model.Name;
  }
  else
  {
        ViewData["Title"] = "Add " + TableName;
  }
}
<script src="~/lib/ckeditor/ckeditor.js"></script>

    <div asp-validation-summary="All"></div>

<form asp-action="Form" method="post"   enctype="multipart/form-data">
  <input type="hidden" asp-for="Id" />

    <div class="form-group col-md-6">
        <Text-Box asp-for="Name" col="col-md-12" type="text" Required="Required" id="Name" label-content="@Localizer["Name"]" error-message="@Localizer["PleaseEnter"] @Localizer["Name"] @Localizer["WithoutSpaces"]" placeholder="@Localizer["Name"]"></Text-Box>
        <span asp-validation-for="Name"></span>
    </div>
  
</form>

