@model IEnumerable<Application.Features.Country.Models.CountryDTO>
@{
var TableName = "Country";
ViewData["Title"] = TableName;
}

    <partial name="_FormModal" />
    <table id="dt-basic-example" class="table  table-hover w-100">
        <thead class="">
            <tr>
                <th width="30" align="center" valign="middle">
                    <div class="custom-checkbox px-0">
                        <input type="checkbox" class="selectAll select-checkbox custom-control-input" id="selectAll" tabindex="0" name="selectAll" value="all">
                        <label class="custom-control-label" for="selectAll"></label>
                    </div>
                </th>

                <th hidden="hidden">Id</th>
                <th style="width:30%;">
                     Name
                </th>
               
            
                <th style="width:15px">
                     SortIndex
                </th>
                <th style="width:15px">
                     Active
                </th>
                <th style="width:12px"> Functions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div class="custom-checkbox px-0">
                        <input type="checkbox" class="selectRow custom-control-input" id="item @item.Id">
                        <label class="custom-control-label" for="item @item.Id"></label>
                    </div>
                </td>

                <td hidden="hidden">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
               

                   
                </td>
            </tr>
        }

        </tbody>
    </table>

<a href="@Url.ActionLink("create", "country")" aria-expanded="false" class=" btn btn-primary bg-primary-700 text-white btn-icon rounded-circle mx-1 waves-effect waves-themed" style="font-size:large"><i class="fa fa-edit " data-toggle="tooltip" data-placement="top" title="Create" data-original-title="Create"></i></a>


@section Scripts
{

    <script>

        $(document).ready(function(Item, Url, OldMinValue, OldMaxValue) {
            console.log("ddd");
            let urlPage = "";

            var ID = Item[0];
            var MarketCategoryId = Item[1];
            var GeneralindicatorId = Item[2];
            var GovernorateId = Item[3];
            //var InsertionDate = $("#IndicatorDate").val();
            var InsertionDate = $("#InsertionDateId").val();

            if(ID == 0) {
            urlPage = Url;
        } else {
            urlPage = Url + "/" + ID;
        }

        $.ajax({
            type: "Get",
            url: urlPage,
            data: {
                InsertionDate: InsertionDate, SubIndicatorId: ID, GovernorateId, InsertionDateString: InsertionDate,
                MarketCategoryId: 0,
                GeneralindicatorId: GeneralindicatorId, OldMinValue: OldMinValue, OldMaxValue: OldMaxValue

            },
            success: function (htmlResponse) {
                console.log(htmlResponse);
                $('#ModalForm').html(htmlResponse);

                $('#default-example-modal-lg').modal();
            },
            error: function (htmlResponse) {
                console.log(htmlResponse);
                $('#ModalForm').html(htmlResponse);

                $('#default-example-modal-lg').modal();

            }
        });

        }


    </script>

}  
